<a href="https://colab.research.google.com/github/vin-thomas/Enron_email_classification/blob/main/Tfidf_Enron__Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
import torch
import glob
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/enron_csv_1', index_col=[0])

##**Extracting Emails**

In [ ]:
import re

add_fm = []
add_to = []
add_cc = []
add_bcc = []
for item in df.Raw_Text:
  fm_emails = re.findall(r"From: ([a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+)", str(item))
  to_emails = re.findall(r"To: ([a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+)", str(item))
  cc_emails = re.findall(r"Cc: ([a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+)", str(item))
  bcc_emails = re.findall(r"Bcc: ([a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+)", str(item))
  if fm_emails:
    add_fm.append(fm_emails[0])
  else:
    add_fm.append(1000)
  if to_emails:
    add_to.append(to_emails[0])
  else:
    add_to.append(1000)
  if cc_emails:
    add_cc.append(cc_emails[0])
  else:
    add_cc.append(1000)
  if bcc_emails:
    add_bcc.append(bcc_emails[0])
  else:
    add_bcc.append(1000)

In [ ]:
df['From']= add_fm
df['To']= add_to
df['CC']= add_cc
df['BCC']= add_bcc

##**Extracting Dates**

In [ ]:
from datetime import datetime

def preprocess_date(date):
  format_data = "%a, %d %b %Y"
  date = datetime.strptime(date, format_data)
  return date

In [ ]:
date_email =[]

for item in df.Raw_Text:
  date = re.findall(r"Date: ([a-zA-Z]{3}, \d+ [a-zA-Z]{3} \d{4})", str(item))
  date= preprocess_date(date[0])
  date_email.append(date)

In [ ]:
df['date']= date_email

##**Extracting Subject**

In [ ]:
def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\d+', '', text)
    text = re.sub(r'\\', '', text)
    text = re.sub(r'\\n', '', text)
    text = re.sub(r'-', '', text)
    return text

In [ ]:
subject_email = []

for item in df.Raw_Text:
  subject = re.findall(r"Subject: ([^\n]*|SUBJECT: [^\n]*)", str(item))
  subject = preprocess_text(subject[0])
  subject_email.append(subject)

In [ ]:
df['Subject']= subject_email

##**Extracting Body**

In [ ]:
body_email =[]
for item in df.Raw_Text:
  body = re.findall (r"FileName:([\s\S]*)$", str(item))
  body = preprocess_text(body[0])
  word_list = body.split(' ')
  word_list = word_list[2:130]
  if len(word_list)<128:
    word_list = ['na']
  word_list = " ".join(word_list)
  body_email.append(word_list)

In [ ]:
df['Body']= body_email

In [ ]:
df_final = df.drop(['Raw_Text'], axis=1)

In [ ]:
df_final

           Name  ...                                               Body
0       sager-e  ...  you are aware, enron utilizes temporary staffi...
1       sager-e  ...                                                 na
2       sager-e  ...                                                 na
3       sager-e  ...                                                 na
4       sager-e  ...  have attached comments on the provisions you s...
...         ...  ...                                                ...
517396   hain-m  ...                                                 na
517397   hain-m  ...  shauna.nnto unsubscribe from the list, please ...
517398   hain-m  ...  thanksnlysa akin|pdx|ect wrote on // : am:nn>g...
517399   hain-m  ...  subscriber:nnnin our continuous commitment to ...
517400   hain-m  ...  mercury news requested the cpuc subpoena.  wha...

[517401 rows x 9 columns]

In [ ]:
df_final= df_final.drop_duplicates(subset=['Body', 'From'])

In [ ]:
df_final = df_final[df_final.Folder != 'all_documents']
df_final = df_final[df_final.Folder != 'deleted_items']
df_final = df_final[df_final.Body != 'na']

In [ ]:
df_final['Text']= df_final['Subject']+df_final['Body']
df_final.drop(['Subject', 'Body'], axis=1, inplace= True)

In [ ]:
df_final

           Name  ...                                               Text
0       sager-e  ...  improved process for engaging temporary worker...
4       sager-e  ...  setoff provisionsrncc: david.mitchell@cwt.comr...
6       sager-e  ...  draft eei credit annexrnmimeversion: .rnconten...
8       sager-e  ...  pa wholesale vs. retail pricesrncc: tom.hoatso...
9       sager-e  ...  re: eei cover sheet completionrncc: tracy.ngo@...
...         ...  ...                                                ...
515891   hain-m  ...  re: life after enronrnmimeversion: .rncontentt...
515951   hain-m  ...  re: initial email communication  subgroup work...
515959   hain-m  ...  re: i'm leaving enronrnmimeversion: .rncontent...
516002   hain-m  ...  ron carrol call  pin #: (full details below)rn...
516036   hain-m  ...  re: i'm leaving enronrnmimeversion: .rncontent...

[85926 rows x 8 columns]

In [ ]:
df_final['from_id']= df_final['From'].factorize()[0]
df_final['to_id']= df_final['To'].factorize()[0]
df_final['cc_id']= df_final['CC'].factorize()[0]
df_final['bcc_id']= df_final['BCC'].factorize()[0]
df_final['folder']= df_final['Folder'].factorize()[0]
df_final['name']= df_final['Name'].factorize()[0]

In [ ]:
df_final.drop(['Name', 'Folder', 'From', 'To', 'CC', 'BCC', 'date'], axis=1, inplace= True)

In [ ]:
df_tfidf= df_final.sample(60000)

In [ ]:
df_tfidf

                                                     Text  ...  name
449128  draft  background and q&a for ca residential c...  ...   192
317767  re: u.s. refundrnmimeversion: .rncontenttype: ...  ...   141
208366  re: fw: directorlevel impact and influencernmi...  ...    91
324898  re: letter agreementrncc: kay.mann@enron.com, ...  ...   143
98436   june transport usage ticketsrncc: mary.smith@e...  ...    49
...                                                   ...  ...   ...
320237  re: west gas trading rotationrnmimeversion: .r...  ...   142
249785  fw: medicine bow tiein capacityrnmimeversion: ...  ...   115
362266  re: fw: pg&e energy trading entitiesrnmimevers...  ...   160
90795   thoughts on upcoming visitrncc: tammie.schoppe...  ...    43
71919   weekend outage report for  through rnmimeversi...  ...    38

[60000 rows x 7 columns]

In [ ]:
df_tfidf = df_tfidf[["Text", "from_id", "to_id", "cc_id", "bcc_id", "name", "folder"]]

In [ ]:
df_tfidf= df_tfidf.reset_index(drop=True)

In [ ]:
df_tfidf

                                                    Text  from_id  ...  name  folder
0      draft  background and q&a for ca residential c...      716  ...   192       9
1      re: u.s. refundrnmimeversion: .rncontenttype: ...     5943  ...   141       6
2      re: fw: directorlevel impact and influencernmi...      285  ...    91       8
3      re: letter agreementrncc: kay.mann@enron.com, ...       32  ...   143       8
4      june transport usage ticketsrncc: mary.smith@e...     2966  ...    49     230
...                                                  ...      ...  ...   ...     ...
59995  re: west gas trading rotationrnmimeversion: .r...      295  ...   142       6
59996  fw: medicine bow tiein capacityrnmimeversion: ...      394  ...   115       6
59997  re: fw: pg&e energy trading entitiesrnmimevers...      275  ...   160       0
59998  thoughts on upcoming visitrncc: tammie.schoppe...     2658  ...    43      88
59999  weekend outage report for  through rnmimeversi...      133  ...    38       5

[60000 rows x 7 columns]

##**Vectorization**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(sublinear_tf=True, min_df=2000, max_df=60000, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')

features = tfidf.fit_transform(df_tfidf['Text']).toarray()

In [ ]:
type(features), features.shape

(numpy.ndarray, (60000, 1060))

In [ ]:
df_features = pd.DataFrame(features)

In [ ]:
df_features

           0         1         2     3     ...      1056      1057  1058  1059
0      0.000000  0.000000  0.000000   0.0  ...  0.000000  0.000000   0.0   0.0
1      0.000000  0.000000  0.000000   0.0  ...  0.000000  0.000000   0.0   0.0
2      0.000000  0.000000  0.000000   0.0  ...  0.120976  0.000000   0.0   0.0
3      0.000000  0.000000  0.125771   0.0  ...  0.000000  0.000000   0.0   0.0
4      0.000000  0.000000  0.000000   0.0  ...  0.000000  0.000000   0.0   0.0
...         ...       ...       ...   ...  ...       ...       ...   ...   ...
59995  0.000000  0.000000  0.000000   0.0  ...  0.000000  0.000000   0.0   0.0
59996  0.000000  0.068436  0.000000   0.0  ...  0.000000  0.000000   0.0   0.0
59997  0.079403  0.058575  0.000000   0.0  ...  0.000000  0.000000   0.0   0.0
59998  0.000000  0.049082  0.000000   0.0  ...  0.000000  0.052196   0.0   0.0
59999  0.000000  0.000000  0.000000   0.0  ...  0.000000  0.000000   0.0   0.0

[60000 rows x 1060 columns]

In [ ]:
df_tfidf.drop(['Text'], axis=1, inplace= True)

In [ ]:
df_tfidf= df_tfidf.join(df_features)

In [ ]:
df_tfidf

       from_id  to_id  cc_id  bcc_id  ...      1056      1057  1058  1059
0          716     39    630     625  ...  0.000000  0.000000   0.0   0.0
1         5943   5727      0       0  ...  0.000000  0.000000   0.0   0.0
2          285    926      0       0  ...  0.120976  0.000000   0.0   0.0
3           32   7406   2091    2058  ...  0.000000  0.000000   0.0   0.0
4         2966    955   1458    1441  ...  0.000000  0.000000   0.0   0.0
...        ...    ...    ...     ...  ...       ...       ...   ...   ...
59995      295   1313      0       0  ...  0.000000  0.000000   0.0   0.0
59996      394    271      0       0  ...  0.000000  0.000000   0.0   0.0
59997      275   1852      0       0  ...  0.000000  0.000000   0.0   0.0
59998     2658   2692    980     972  ...  0.000000  0.052196   0.0   0.0
59999      133     77      0       0  ...  0.000000  0.000000   0.0   0.0

[60000 rows x 1066 columns]

In [ ]:
y = df_tfidf.folder
X= df_tfidf.drop(['folder'], axis=1)

In [ ]:
X.shape

(60000, 1065)

##**Standardization**

In [ ]:
from sklearn.preprocessing import StandardScaler


# perform a robust scaler transform of the dataset
ss = StandardScaler()
X = ss.fit_transform(X)
# convert the array back to a dataframe
X = pd.DataFrame(X)
X.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

       0         1         2     ...      1062      1063      1064
0 -0.704921 -0.958429  0.205134  ... -0.287544 -0.231909 -0.224052
1  1.112361  1.046073 -0.424543  ... -0.287544 -0.231909 -0.224052
2 -0.854768 -0.645842 -0.424543  ... -0.287544 -0.231909 -0.224052
3 -0.942729  1.637767  1.665386  ... -0.287544 -0.231909 -0.224052
4  0.077341 -0.635622  1.032710  ... -0.287544 -0.231909 -0.224052

[5 rows x 1065 columns]

##**Train/Test Split**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
X_test.shape, y_test.shape

((12000, 1065), (12000,))

##**Train**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [ ]:
models = [
          ('KNN', KNeighborsClassifier()),  
          ('Random Forest', RandomForestClassifier(n_estimators=100, max_depth=3 )), ('Gradient Descent',SGDClassifier())
         ]
for name, model in models:
  model.fit(X_train, y_train)
  y_pred= model.predict(X_test)
  accuracy= accuracy_score(y_test, y_pred)
  print (name, accuracy)

KNN 0.6404166666666666
Random Forest 0.7268333333333333
Gradient Descent 0.81025

In [ ]:
X_train_, X_test_, y_train_, y_test_ = train_test_split(X, y, test_size=0.8, random_state=0)

model = SVC()
model.fit(X_train_, y_train_)
y_pred_= model.predict(X_test_)
accuracy= accuracy_score(y_test_, y_pred_)
print ('SVC', accuracy)

SVC 0.8031666666666667

In [ ]:
model = LogisticRegression(random_state=0)
model.fit(X_train, y_train)
y_pred= model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print ('LR', accuracy)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LR 0.883